<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/StrategyPattern1/src/com/techlab/strategypattern1/GenerateBill.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.techlab.strategypattern1.GenerateBill"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="StrategyPattern1"/>
</launchConfiguration>
